/*Heading*/
#header {
    display: block;
}

.heading-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/header.png");
    padding: 4%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*Navbar*/
.nav {
    overflow: hidden;
    background-color: #333;
}

.nav a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    background-color: #dddd;
    color: black;
}

.nav.active {
    background-color: #ddd;
    color: black;
}

/*Content*/
#content {
    display: flex;
}

.column {
    margin-top: 3%;
}

.column.side {
    width: 25%;
    height: 100%;
    border-right: 2px solid black;
}

.column.middle {
    width: auto;
    height: 15%;
    margin-left: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*To do list*/
.toDoItem {
    display: block;
    cursor: pointer;
    font-size: xx-large;
    padding: 3px 5px;
}

.toDoItemDescription {
    display: inline;
    font-size: xx-large;
}

.noSubTasks {
    padding-left: 32px;
}

.nested {
    display: none;
}

.active {
    display: block;
}

ul {
    list-style-type: none;
    margin: unset;
}

.toDoArrow {
    cursor: pointer;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
    margin-right: 10px;
    transform: rotate(-45deg);
}

.toDoArrow.expand {
    transform: rotate(45deg);
}

/*Buttons*/
.buttons {
    display: block;
    padding: 10px 0px;
}

.buttons.nested {
    display: none;
}

.back {
    background-color: #333;
    color: white;
    padding: 11px 15px;
    margin-top: 3%;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 17px;
}

.back:hover {
    background-color: grey;
}

.details {
    background-color: white;
    color: black;
    border: 2px solid grey;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.details:hover {
    background-color: grey;
    color: white;
}

.update {
    background-color: white;
    color: black;
    border: 2px solid cornflowerblue;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.update:hover {
    background-color: cornflowerblue;
    color: white;
}

.delete {
    background-color: white;
    color: black;
    border: 2px solid red;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.delete:hover {
    background-color: red;
    color: white;
}

.addSubTask {
    background-color: white;
    color: black;
    border: 2px solid blue;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.addSubTask:hover {
    background-color: blue;
    color: white;
}

/*Validation*/
.field-validation-error {
    color: #b94a48;
    font-size: 20px;
    margin-left: 10px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Edit*/

input[type=text] {
    width: 100%;
    padding: 12px 20px 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type=number] {
    width: 15%;
    padding: 12px 20px 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    padding: 10px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type=date] {
    padding: 12px 20px 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 10px;
    outline: none;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-right: 20px;
    margin-left: 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    outline-color: lime;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 5%;
}

label {
    margin-left: 10px;
}

.updateForm {
    margin-top: 3%;
    font-size: 20px;
}



/*Create*/
.createForm {
    margin-top: 3%;
    font-size: 20px;
}

.form-group input {
    font-size: 20px;
    margin-bottom: 25px;
}

.form-group {
    padding-top: 10px;
}

.form-group hidden {
    display: none;
}

.form-group select {
    font-size: 20px;
}

.message {
    margin-top: 2%;
    text-align: center;
}

.warning {
    text-align: center;
    margin-top: 2%;
}

/*Details*/
.detailsForm {
    margin-top: 3%;
    font-size: 20px;
}

/*Footer*/
#footer {
    position: fixed;
    background-color: #f1f1f1;
    background-size: cover;
    text-align: center;
    bottom: 0;
    left: 8px;
    right: 8px;
}
