@model IEnumerable<ToDo.Web.Models.Do.DoListingViewModel>


    <ul class="toDoItems">
        @foreach (var item in Model)
        {

        <li class="toDoItem">
            <input class="toDoItemId" type="hidden" value="@item.Id" />
            @if (item.SubTasks.Count() > 0)
            {
                <i class="toDoArrow"></i>
                <span class="toDoItemTitle">@item.Title</span>
                @await Html.PartialAsync("_DisplaySubTasksPartial", item.SubTasks)
            }
            else
            {
                <span class="toDoItemTitle noSubTasks">@item.Title</span>
            }
        </li>
        }
    </ul>