@model IEnumerable<ToDo.Web.Models.Do.DoListingModel>
@using ToDo.Web.Helpers

    <ul class="toDoSubTasks nested">
        @foreach (var item in Model)
        {
            @if (item.SubTasks.Count() > 0)
            {
                <li class="toDoItem">
                    <input class="toDoItemId" type="hidden" value="@item.Id" />
                    <i class="toDoArrow"></i>
                    <span class="toDoItemTitle">@item.Title</span>
                </li>
            }
            else
            {
                <li class="toDoItem">
                    <input class="toDoItemId" type="hidden" value="@item.Id" />
                    <span class="toDoItemTitle">@item.Title</span>
                </li>
            }
        }
    </ul>