@model ToDo.Web.Models.Do.DoCreateViewModel

@{
    ViewData["Title"] = "Создать задачу";
}

<div class="createForm">
    <form asp-antiforgery="true" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" />
            <span asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Executors"></label>
            <input asp-for="Executors" />
            <span asp-validation-for="Executors"></span>
        </div>
        <div class="form-group">
            <label asp-for="Plan"></label>
            <input asp-for="Plan" />
            <span asp-validation-for="Plan"></span>
        </div>
        @if (ViewBag.DoId != null)
        {
            <div>
                <input type="hidden" value="ViewBag.DoId" />
            </div>
        }
        <div class="form-group">
            <input type="submit" value="Создать" />
            <button class="back cancel" type="submit" asp-controller="Do" asp-action="Index">Назад</button>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
} 