@model ToDo.Web.Models.Do.DoIndexModel
@using ToDo.Web.Helpers

@{
    ViewData["Title"] = "Главная";
}

@foreach (var item in Model.ToDoList)
{
    <div class="row">
        <div class="column side">
            <h2>@item.Title</h2>
        </div>

        <div class="column middle">
            <p>@item.Description</p>
        </div>
    </div>
}



<script>
    var toggler = document.getElementsByClassName("doCaret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".doUlNested").classList.toggle("doUlActive");
            this.classList.toggle("doCaret-down");
        });
    }
</script>