@model IEnumerable<ToDo.Web.Models.Do.DoListingViewModel>

@{
    ViewData["Title"] = "Главная";
}

<div id="content">
    <div class="column side">
        @await Html.PartialAsync("_DisplayTasksPartial")
    </div>
    <div class="column middle"></div>
</div>